# Assignment 1: Regular Expressions

In [5]:
#Question1:Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
#Sample Text- 'Python Exercises, PHP exercises.'
#Expected Output: Python:Exercises::PHP:exercises:


import re

sample_text="Python Exercises, PHP exercises."
x_= re.sub("[\s,.]",":",sample_text)

print(x_)

Python:Exercises::PHP:exercises:

In [39]:
#Question 2- Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words. 
#Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']} 
#Expected output- 0 hello world 1 test 2 four five six


import pandas as pd
import numpy as np

dict_1={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; (six)...']} 
dict_1
 
df_1= pd.DataFrame(dict_1)
df_1

df_1["SUMMARY"]=df_1["SUMMARY"].str.replace('[0-9,(,)!XXXXX;:.]', "",regex=True)
df_1

         SUMMARY
0    hello world
1           test
2  four five six

In [74]:
#Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

import re

def findAtleast4Character(String):
    regexPattern = re.compile(r'\w{4,}')
    result_= regexPattern.findall(string_)
    print(result_)

    
string_= input("Enter any String:")
findAtleast4Character(string_)

Enter any String:A P J Abdul Kalam was an Indian aerospace scientist of India.
['Abdul', 'Kalam', 'Indian', 'aerospace', 'scientist', 'India']

In [73]:
#Question 4-Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

import re

def findCharacter(String):
    regexPattern = re.compile(r'\b\w{3,5}\b')
    result_= regexPattern.findall(String)
    print(result_)


    
string_= input("Enter any String:")
findCharacter(string_)

Enter any String:A P J Abdul Kalam was an Indian aerospace scientist of India.
['Abdul', 'Kalam', 'was', 'India']

In [95]:
#Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
#Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
#Expected Output: example.com hr@fliprobo.com github.com Hello Data Science World Data Scientist


import re

def removalParantehesisFromStringList(string):
    for msg in string:
        pattern= re.compile("[()]")
        print(re.sub(pattern,"",msg))

        

Sample_Text=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
removalParantehesisFromStringList(Sample_Text)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

In [9]:
#Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
#Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
#Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
#Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

import re

with open("sample_text.txt")as file:
    for line in file:
        urls=re.sub(r"\s\([^)]*\)","", line)
        print(urls)

 ["example", "hr@fliprobo", "github", "Hello", "Data"]

In [25]:
#Question 7- Write a regular expression in Python to split a string into uppercase letters.
#Sample text: “ImportanceOfRegularExpressionsInPython”
#Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]
    
Sample_text="ImportanceOfRegularExpressionsInPython" 
result_=re.split(r"(?=[A-Z])",Sample_text)
#print(result_)
for i in result_:
    if(len(i)==0):
        result_.remove(i)
    
print(result_)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [357]:
#Question 8- Create a function in python to insert spaces between words starting with numbers.
#Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
#Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

import regex as re
    
def insertSpacesInString(string):
    pattern=r'(\d)'
    def insert_space(match):
        return " "+match.group(1)
   
    match_1=re.sub(pattern, insert_space ,string)
    print(match_1)
        
Sample_Text="RegularExpression1IsAn2ImportantTopic3InPython" 
insertSpacesInString(Sample_Text)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [358]:
#Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers. 
#Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython" 
#Expected Output: RegularExpression 1 IsAn 2 ImportantTopic 3 InPython
        
import regex as re

    
def insertSpacesInString(string):
    pattern=r'(\d)'
    def insert_space(match):
        return " "+match.group(1)+" "
   
    match_1=re.sub(pattern, insert_space ,string)
    print(match_1)
        
Sample_Text="RegularExpression1IsAn2ImportantTopic3InPython" 
insertSpacesInString(Sample_Text)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [84]:
#Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
#Github Link- https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv


import pandas as pd
import regex as re

ds=pd.read_csv("data1.csv")
df=pd.DataFrame(data=ds)
print("Before adding the column:", df.shape)
#df["Country"].head()
df1_new=df["Country"].str.extract(r"(\s*\w{6})",flags=re.I)
df["First_five_letters"]=df1_new
print("After Adding new column:", df.shape)
df

Before adding the column: (158, 12)
After Adding new column: (158, 13)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,First_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,NaN
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,NaN
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,NaN

In [92]:
#Question 11-Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

string= input("Enter string that contains a-z,A-Z,0-9,_:")
updated_string=re.match(r'^[\w]+$',string)
print("match found:", updated_string)

Enter any string:Neha_Jain123
<regex.Match object; span=(0, 12), match='Neha_Jain123'>

In [359]:
#Question 12-Write a Python program where a string will start with a specific number.

string1= input("Enter any string that starts with a specific number:")
result= re.search('^\d+',string1)

print("match found:", result)

Enter any string that starts with a specific number:1hello
match found: <regex.Match object; span=(0, 1), match='1'>

In [360]:
#Question 13- Write a Python program to remove leading zeros from an IP address

IP_Address= input("Enter a IP address:")

import re

pattern="(^|\.)0+"
def remove_zero(match):
    return match.group(1)

result_=re.sub(pattern, remove_zero ,IP_Address)
print("Valid IP Address:" , result_)

Enter a IP address:0100.01.20.168
Valid IP Address: 100.1.20.168

In [144]:
#Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file. 
#Sample text : ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’. 
#Expected Output- August 15th 1947 
#Note- Store given sample text in the text file and then extract the date string asked format.


import re

with open("data2.txt")as file:
    for line in file:
        pattern=r'(?:(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:th|st|rd|nd)??\s+\d{4})'
        date=re.findall(pattern, line)
        print(date)

['August 15th 1947']

In [158]:
#Question 15:Write a Python program to search some literals strings in a string. 
#Sample text : 'The quick brown fox jumps over the lazy dog.'
#Searched words : 'fox', 'dog', 'horse'

Sample_text='The quick brown fox jumps over the lazy dog.'
pattern=re.compile("fox|dog|horse")
for match in pattern.finditer(Sample_text):
    print(match.group())

fox
dog

In [157]:
#Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
#Sample text : 'The quick brown fox jumps over the lazy dog.'
#Searched words : 'fox'
Sample_text='The quick brown fox jumps over the lazy dog.'
pattern=re.compile("fox")
for match in pattern.finditer(Sample_text):
        print("Match Object:",match)

Match Object: <re.Match object; span=(16, 19), match='fox'>

In [167]:
#Question 17- Write a Python program to find the substrings within a string.
#Sample text : 'Python exercises, PHP exercises, C# exercises'
#Pattern : 'exercises'.
Sample_text='Python exercises, PHP exercises, C# exercises'
pattern=re.compile("exercises")
result_=pattern.finditer(Sample_text)
for match in result_:
        print(match.group())

exercises
exercises
exercises

In [171]:
#Question 18- Write a Python program to find the occurrence and position of the substrings within a string.
Sample_text='Python exercises, PHP exercises, C# exercises'
pattern=re.compile("exercises")
result_=pattern.finditer(Sample_text)
for match in result_:
        print(match)

<re.Match object; span=(7, 16), match='exercises'>
<re.Match object; span=(22, 31), match='exercises'>
<re.Match object; span=(36, 45), match='exercises'>

In [274]:
#Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

Sample_date="2024-02-01"
print("date in yyyy-mm-dd format:", Sample_date)
pattern=re.compile(r"(\d{4})-(\d{2})-(\d{2})")
result_=pattern.finditer(Sample_date)
#x=[]
#for match in result_:
    #x=match.groups()
    #print("date in dd-mm-yyyy format:", )
    #for i in reversed(x):
        #print(i, end="-")
        
if result_:
    x,y,z=match.groups()
    formatted_date="{}-{}-{}".format(z,y,x)
    print(formatted_date);
else:
    print("None")

date in yyyy-mm-dd format: 2024-02-01
01-02-2024

In [275]:
#Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
#Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
#Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

def findDecimalNoWithPrec(Sample_text):
    pattern=re.compile(r'\b\d+\.\d{1,2}\b')
    result_=pattern.findall(Sample_text)
    print(result_)


Sample_Text="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
findDecimalNoWithPrec(Sample_Text)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [216]:
#Question 21- Write a Python program to separate and print the numbers and their position of a given string.

String='''Emma is a basketball player who was born on 17 june 1993.
She played 112 matches with a scoring average of 26 points per game. Her weight is 51 kg.'''
pattern=re.compile(r"\d+")
result_=pattern.finditer(String)
for match in result_:
        number=match.group()
        number_position=match.start()+1
        print("Number:",number,"and","Position of",number,"is :",number_position)

Number: 17 and Position of 17 is : 45
Number: 1993 and Position of 1993 is : 53
Number: 112 and Position of 112 is : 70
Number: 26 and Position of 26 is : 108
Number: 51 and Position of 51 is : 142

In [362]:
#Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
#Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
#Expected Output: 950


Sample_Text="My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
pattern=re.compile(r"\d+")
result_=pattern.findall(Sample_Text)
#for i in result_:
    #result_=int(i)

result_= [int(i) for i in result_]

maximum= max(result_)

print(maximum)

950

In [363]:
#Question 23- Create a function in python to insert spaces between words starting with capital letters.
#Sample Text: “RegularExpressionIsAnImportantTopicInPython"
#Expected Output: Regular Expression Is An Important Topic In Python

import regex as re
    
def insertSpacesInString(string):
    pattern=r'([A-Z])'
    def insert_space(match):
        return " "+match.group(1)
   
    match_1=re.sub(pattern, insert_space ,string)
    print(match_1)
        
Sample_Text="RegularExpressionIsAnImportantTopicInPython" 
insertSpacesInString(Sample_Text)

 Regular Expression Is An Important Topic In Python

In [364]:
#Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

import re

Sample_Text= "Regular Expression is an Important Topic in Python"
pattern = r"\b[A-Z][a-z]*\b"
match=re.findall(pattern,Sample_Text)
print(match)

['Regular', 'Expression', 'Important', 'Topic', 'Python']

In [365]:
#Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
#Sample Text: "Hello hello world world"
#Expected Output: Hello hello world
Sample_Text="Hello hello world world"
pattern=re.compile(r'\b(\w+)(?:\s+\1)+\b') 
result_=re.sub(pattern,lambda match:match.group(1),Sample_Text)
print(result_)

Hello hello world

In [367]:
#Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.
String=input("Enter any string ending with alphanumeric character:")
pattern=r'\w$'
match_=re.search(pattern,String)
print("match:",match_)

Enter any string ending with alphanumeric character:neha123
match: <re.Match object; span=(6, 7), match='3'>

In [368]:
#Question 27-Write a python program using RegEx to extract the hashtags.
#Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
#Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

Sample_Text='''RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo'''
result_=re.findall(r"#\S+",Sample_Text)
print(result_)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [369]:
#Question 28- Write a python program using RegEx to remove <U+..> like symbols
#Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
#Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
#Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders
Sample_Text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern=r"<U\+\S{4}>"
result_=re.sub(pattern,"",Sample_Text)
print(result_)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [370]:
#Question 29- Write a python program to extract dates from the text stored in the text file.
#Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
#Note- Store this sample text in the file and then extract dates.
import re

with open("data3.txt")as file:
    for line in file:
        pattern=r"(\d{2}+-\d{2}+-\d{4})"
        dates=re.findall(pattern, line)
        print(dates)

['12-09-1992', '15-12-1999']

In [330]:

#Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
#The use of the re.compile() method is mandatory.
#Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
#Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.
def removeWords(string):
    pattern=re.compile(r"\b\w{2,4}\b\s")
    result_=re.sub(pattern,"",string)
    print(result_)

Sample_Text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
removeWords(Sample_Text)

following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.